<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="misskabu.dbproject.mapper.DataMapper">
    <resultMap id="TestResult" type="misskabu.dbproject.dao.DataDao">
        <result column="code" property="code" />
        <result column="title" property="title" />
    </resultMap>
    <select id="getData" resultMap="TestResult" parameterType="int">
        SELECT
        	code
        	,title
        	,contents
        FROM
        	data_table
        WHERE
        	code = #{id}
        ;
    </select>
</mapper>